<?xml version="1.0"?>
<ruletest id="FIX_RULESET_ID-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-di</testDataPath>
    <!-- By default sourceMode is True, so it will only consider .java files, not .jar binaries -->
    <sourceMode>false</sourceMode>
    <rulePath>../springboot-di-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-di-to-quarkus-00000-test">
                <when>
                    <not>
                        <hint-exists message="Replace the SpringBoot Dependency Injection artifact with Quarkus `spring-di` extension"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-di-to-quarkus-extension] SpringBoot Dependency artifact replaced by Quarkus extension was not found!" />
                </perform>
            </rule>
            <rule id="springboot-di-to-quarkus-00010-test">
                <when>
                    <not>
                        <hint-exists message="Replace the `@org.springframework.stereotype.*` annotation usages with CDI `@javax.enterprise.context.ApplicationScoped`"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-di-to-quarkus-annotations] SpringBoot annotation replaced by Quarkus @ApplicationScoped was not found!" />
                </perform>
            </rule>
            <rule id="springboot-di-to-quarkus-00020-test">
                <when>
                    <not>
                        <hint-exists message="Replace the `@org.springframework.beans.factory.annotation.Autowired` annotation usages with CDI `@javax.inject.Inject`"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-di-to-quarkus-annotations] SpringBoot @Autowired replaced by Quarkus @Inject was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
