<?xml version="1.0"?>
<ruletest id="spring-boot-to-azure-jms-broker-test" xmlns="http://windup.jboss.org/schema/jboss-ruleset" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data</testDataPath>
    <rulePath>../spring-boot-to-azure-jms-broker.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="spring-boot-to-azure-jms-broker-test-01000">
                <when>
                    <not>
                        <iterable-filter size="2">
                            <hint-exists message="The application uses an ActiveMQ message broker." />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="ActiveMQ hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest> 