<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="springboot-security-to-quarkus"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset gives hints to migrate from SpringBoot Security to Quarkus spring-security extension
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="quarkus" />
    </metadata>
    <rules>
        <rule id="springboot-security-to-quarkus-00000">
            <when>
                <or>
                    <!-- Spring component declared in source code condition -->
                    <project>
                        <artifact groupId="org.springframework.security" artifactId="spring-security-core"/>
                    </project>
                    <!-- Spring Boot component declared in source code condition -->
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="spring-boot-starter-security"/>
                    </project>
                    <!-- Spring component in compiled application condition -->
                    <dependency groupId="org.springframework.security" artifactId="spring-security-core"/>
                </or>
            </when>
            <perform>
                <hint title="Replace the SpringBoot Security artifact with Quarkus 'spring-security' extension" effort="1" category-id="mandatory">
                    <message>
                        Replace the SpringBoot Security artifact with Quarkus `spring-security` extension

                        Spring Security is in spring-security-core artifact brought transitively by `org.springframework.boot:spring-boot-starter-security` dependency.  
                        Add Quarkus dependency `io.quarkus:quarkus-spring-security`
                    </message>
                    <link title="Quarkus Extension for Spring Security API Guide" href="https://quarkus.io/guides/spring-security" />
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
