<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-cache"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Identify any external caches in use.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>cache</tag>
        <tag>redis</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-cache-redis-01000">
            <when>
                <or>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="spring-boot-starter-data-redis"/>
                    </project>
                    <project>
                        <artifact groupId="org.springframework.data" artifactId="spring-data-redis"/>
                    </project>
                    <project>
                        <artifact groupId="org.springframework.session" artifactId="spring-session-data-redis"/>
                    </project>
                    <project>
                        <artifact groupId="org.springframework.integration" artifactId="spring-integration-redis"/>
                    </project>
                </or>
            </when>
            <perform>
                <hint title="Redis Cache found in the application" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses a Redis Cache.

                        Checkout Azure Cache for Redis for a fully managed cache on Azure.
                        ]]>
                    </message>
                    <link title="Redis Cache found in the application" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-azure-spring-apps#identify-external-caches"/>
                    <link title="Azure Cache for Redis" href="https://azure.microsoft.com/services/cache"/>
                    <link title="Spring Data Redis" href="https://spring.io/projects/spring-data-redis/"/>
                    <link title="Azure Spring Cloud Starter Cache" href="https://search.maven.org/artifact/com.azure.spring/azure-spring-cloud-starter-cache"/>
                    <tag>redis</tag>
                </hint>
            </perform>
        </rule>
        <rule id="spring-boot-to-azure-cache-redis-02000">
            <when>
                <or>
                    <filecontent filename="application{*}.{extensions}" pattern="{pattern}"/>
                </or>
            </when>
            <perform>
                <hint title="Redis Cache found in the application" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses a Redis Cache connection string, username, or password.

                        Checkout Azure Cache for Redis for a fully managed cache on Azure.
                        ]]>
                    </message>
                    <link title="Redis Cache found in the application" href="https://learn.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-azure-spring-apps#identify-external-caches"/>
                    <link title="Azure Cache for Redis" href="https://azure.microsoft.com/services/cache"/>
                    <link title="Spring Data Redis" href="https://spring.io/projects/spring-data-redis/"/>
                    <link title="Azure Spring Cloud Starter Cache" href="https://search.maven.org/artifact/com.azure.spring/azure-spring-cloud-starter-cache"/>
                    <tag>redis</tag>
                </hint>
            </perform>
            <where param="extensions">
                <matches pattern="(properties|yaml|yml)"/>
            </where>
            <where param="pattern">
                <matches pattern="(redis|jedis|lettuce)\.(.*\.)?(url|host|nodes|username|password)"/>
            </where>
        </rule>
    </rules>
</ruleset>
