<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-version"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Recommend Spring Boot open source support version
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>version</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-version-01000">
            <when>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="1" toVersion="1.9"/>
                    </project>
            </when>
            <perform>
                <hint title="Spring Boot version too low" category-id="mandatory" effort="5">
                    <message>
                        The application uses Spring Boot 1.x, which is too low.
                        Update to open source support version of Spring Boot.
                    </message>
                    <link title="Spring Boot Support Versions" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                </hint>
            </perform>
        </rule>
        <rule id="spring-boot-to-azure-version-02000">
            <when>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="2" toVersion="2.4.99"/>
                    </project>
            </when>
            <perform>
                <hint title="Spring Boot version out of support" category-id="potential" effort="2">
                    <message>
                        Spring boot version is out of any spring boot support scope.
                        Update to open source support version of Spring Boot.
                    </message>
                    <link title="Spring Boot Supported Versions" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                </hint>
            </perform>
        </rule>
        <rule id="spring-boot-to-azure-version-03000">
            <when>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="{*}" fromVersion="2.5" toVersion="2.6.99"/>
                    </project>
            </when>
            <perform>
                <hint title="Spring Boot version out of OSS support" category-id="information" effort="1">
                    <message>
                        Spring Boot version is out of open source software support.
                        Update to open source support version of Spring Boot, if you don't have commercial support.
                    </message>
                    <link title="Spring Boot Supported Versions" href="https://github.com/spring-projects/spring-boot/wiki/Supported-Versions"/>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
