<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-apm"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Identify Application Performance Management dependencies.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>apm</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-apm-01000">
            <when>
                <or>
                    <project>
                        <artifact groupId="com.microsoft.azure" artifactId="{*}applicationinsights{*}"/>
                    </project>
                    <project>
                        <artifact groupId="{*}newrelic{*}" artifactId="{*}"/>
                    </project>
                    <project>
                        <artifact groupId="{*}elastic.apm{*}" artifactId="{*}"/>
                    </project>
                    <project>
                        <artifact groupId="{*}dynatrace.oneagent{*}" artifactId="{*}"/>
                    </project>
                </or>
            </when>
            <perform>
                <hint title="APM" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses an Application Performance Management (APM) tool.

                        Azure Spring Apps supports integration with Application Insights, New Relic, Elastic APM, Dynatrace, and AppDynamics.
                        You can configure the APM tool with ease in migration to Azure Spring Apps.
                        ]]>
                    </message>
                    <link title="Spring Boot to Azure - identify APM dependencies" href="http://aka.ms/spring-cloud-to-asa?pivots=sc-standard-tier#identify-application-performance-management-apm-agents"/>
                    <link title="Configure application performance management (APM) integrations" href="http://aka.ms/spring-cloud-to-asa?pivots=sc-standard-tier#configure-application-performance-management-apm-integrations"/>
                    <link title="Application Insights" href="https://docs.microsoft.com/azure/azure-monitor/app/app-insights-overview"/>
                    <tag>APM</tag>
                </hint>
                <technology-tag level="INFORMATIONAL">APM</technology-tag>
            </perform>
        </rule>
    </rules>
</ruleset>
