<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-swing"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Identify Swing usage in Spring Boot applications.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-spring-apps"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>Swing</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-swing-01000">
            <when>
                <javaclass references="javax.swing.{*}">
                    <location>IMPORT</location>
                </javaclass>
            </when>
            <perform>
                <hint title="Java Swing usage" effort="5" category-id="mandatory">
                    <message>
                        <![CDATA[
                        The application uses Java Swing.
                        Upgrade to modern cloud native UI framework.
                        ]]>
                    </message>
                    <tag>Swing</tag>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
