<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-zipkin"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Identify Zipkin dependencies.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-aks"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-container-apps"/>
        <tag>zipkin</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-zipkin-01000">
            <when>
                <or>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="spring-cloud-starter-zipkin"/>
                    </project>
                    <project>
                        <artifact groupId="io.zipkin{*}" artifactId="{*}"/>
                    </project>
                </or>
            </when>
            <perform>
                <hint title="Zipkin" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses Zipkin.
                        ]]>
                    </message>
                    <link title="Migrate Spring Boot applications to Azure Kubernetes Service - " href="https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-azure-kubernetes-service#identify-zipkin-dependencies"/>
                    <link title="Distributed Tracing" href="https://docs.microsoft.com/azure/azure-monitor/app/distributed-tracing"/>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
