<?xml version="1.0"?>
<ruletest id="springboot-plugins-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-plugins</testDataPath>
    <rulePath>../springboot-plugins-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-plugins-to-quarkus-00000-test">
                <when>
                    <not>
                        <iterable-filter size="1">
                            <hint-exists message="Replace the spring-boot-maven-plugin dependency" />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-plugins-to-quarkus] Replace the spring-boot-maven-plugin not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
