<?xml version="1.0"?>
<ruletest id="spring-integration-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-integration</testDataPath>
    <!-- By default sourceMode is True, so it will only consider .java files, not .jar binaries -->
    <sourceMode>true</sourceMode>
    <rulePath>../springboot-integration-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-integration-to-quarkus-00010-test">
                <when>
                    <not>
                        <iterable-filter size="1">
                            <hint-exists message="SpringBoot Integration flows are not supported. A migration to Apache Camel route is mandatory."/>
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-integration-to-quarkus-extension] SpringBoot Integration flow is not supported was not found!" />
                </perform>
            </rule>
            <rule id="springboot-integration-to-quarkus-00020-test">
                <when>
                    <not>
                        <hint-exists message="SpringBoot IntegrationFlow class usage is not supported. A migration to Apache Camel route using From is mandatory."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-integration-to-quarkus-extension] SpringBoot IntegrationFlow is not supported was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
