<?xml version="1.0"?>
<ruletest id="springboot-cache-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-cache</testDataPath>
    <rulePath>../springboot-cache-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-cache-to-quarkus-00000-test">
                <when>
                    <not>
                        <hint-exists message="Replace the SpringBoot Cache module artifact with Quarkus `spring-cache` extension"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-cache-to-quarkus-extension] SpringBoot Cache artifact replaced by Quarkus extension was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>