<?xml version="1.0"?>
<ruletest id="springboot-web-shaded-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-web/</testDataPath>
    <sourceMode>false</sourceMode>
    <rulePath>../springboot-web-shaded-to-quarkus.windup.groovy</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-web-shaded-to-quarkus-00000-test">
                <when>
                    <not>
                            <hint-exists message="A folder path related to a package from the `org.springframework:spring-web` dependency has been found."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-web-to-quarkus-groovy] Spring-web component test was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
