<?xml version="1.0"?>
<ruletest id="springboot-webmvc-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-webmvc</testDataPath>
    <!-- By default sourceMode is True, so it will only consider .java files, not .jar binaries -->
    <sourceMode>true</sourceMode>
    <rulePath>../springboot-webmvc-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-webmvc-to-quarkus-00000-test">
                <when>
                    <not>
                        <iterable-filter size="2">
                            <hint-exists message="Spring MVC is not supported by Quarkus"/>
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-webmvc-to-quarkus-extension] Spring web-mvc not supported by Quarkus was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
