<?xml version="1.0"?>
<ruletest id="springboot-test"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data</testDataPath>
    <rulePath>../springboot.rhamt.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-00001-test">
                <when>
                    <not>
                        <iterable-filter size="8">
                            <hint-exists message="Unsupported version of SpringBoot"/>
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-00001] Spring Boot hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>