<?xml version="1.0"?>
<ruletest id="springboot-associated-test"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot.associated.artifacts</testDataPath>
    <rulePath>../springboot.associated.artifacts.rhamt.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-associated-00001-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of AMQP SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot AMQP starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00002-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of CXF JAXRS SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot CXF JAXRS starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00003-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of Resteasy SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Resteasy starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00004-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of infinispan SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] SpringBoot infinispan starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00005-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of Keycloak SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Keycloak starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00006-test">
                <when>
                    <not>
                        <hint-exists message="Unsupported version of Narayana SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Narayana starter hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>