<?xml version="1.0"?>
<ruletest id="springboot-associated-test"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-associated</testDataPath>
    <rulePath>../springboot-associated-artifacts.rhamt.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-associated-00001-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of AMQP SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot AMQP starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00002-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of CXF JAXRS SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot CXF JAXRS starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00003-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of Resteasy SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Resteasy starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00004-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of Infinispan SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] SpringBoot infinispan starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00005-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of Keycloak SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Keycloak starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00006-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of Narayana SpringBoot starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Spring Boot Narayana starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00007-test">
                <when>
                    <not>
                        <hint-exists message="Check the links below for the Red Hat Runtimes supported version of OpenTracing Spring Jaeger SpringBoot web starter"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] OpenTracing Spring Jaeger SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00008-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.amqphub.spring:amqp-10-jms-spring-boot-starter` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported AMQP SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00009-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.apache.cxf:cxf-spring-boot-starter-jaxrs` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported CXF JAX-RS SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00010-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.jboss.resteasy:resteasy-spring-boot-starter` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Resteasy SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00011-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.infinispan:infinispan-spring-boot-starter-embedded` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Embedded Infinispan SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00012-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.infinispan:infinispan-spring-boot-starter-remote` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Remote Infinispan SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00013-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `org.keycloak:keycloak-spring-boot-starter` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Keycloak SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00014-test">
                <when>
                    <not>
                        <hint-exists message="Migrate `me.snowdrop:narayana-spring-boot-starter` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Narayana SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
            <rule id="springboot-associated-00015-test">
                <when>
                    <not>
                        <iterable-filter size="2">
                            <hint-exists message="Migrate `io.opentracing.contrib:opentracing-spring-jaeger-web-starter` dependency to a version compatible with the supported versions of the RHOAR components provided in the link."/>
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-associated] Supported Spring Jaeger SpringBoot web starter hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>