<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="springboot-aop-to-quarkus"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset gives hints to migrate from SpringBoot AOP to Quarkus extension
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="quarkus" />
    </metadata>
    <rules>
        <rule id="springboot-aop-to-quarkus-00000">
            <when>
                <or>
                <project>
                    <artifact groupId="org.springframework" artifactId="spring-aop" />
                </project>
                <dependency groupId="org.springframework" artifactId="spring-aop" />
                </or>
            </when>
            <perform>
                <hint title="Spring AOP artifact is not supported by Quarkus" effort="13" category-id="mandatory">
                    <message>
                        Spring AOP artifact is not supported by Quarkus

                        Code relying on the Spring AOP `org.springframework:spring-aop` dependency
                        cannot currently be run in Quarkus
                    </message>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>