<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="springboot-metrics-to-quarkus"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset gives hints to migrate from SpringBoot Metrics to Quarkus Microprofile Metrics extension
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="quarkus" />
        <executeAfter>embedded-framework</executeAfter>
    </metadata>
    <rules>
        <rule id="springboot-metrics-to-quarkus-0100">
            <when>
                <technology-tag-exists technology-tag="Micrometer (embedded)"/>
            </when>
            <perform>
                <hint title="Replace the Micrometer dependency with Quarkus 'metrics' extension" effort="1" category-id="mandatory">
                    <message>
                        Replace the Micrometer dependency with Quarkus 'metrics' extension
                        Usually this is a transitive dependency brought by `org.springframework.boot:spring-boot-starter-actuator` and has to be replaced by `io.quarkus:quarkus-smallrye-metrics' artifact`
                    </message>
                    <link title="Quarkus metrics" href="https://quarkus.io/guides/microprofile-metrics" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-metrics-to-quarkus-0400">
            <when>
                <javaclass references="io.micrometer.core.instrument.{*}">
                    <location>IMPORT</location>
                </javaclass>
            </when>
            <perform>
                <hint title="Replace the Micrometer code with Microprofile Metrics code" effort="3" category-id="mandatory">
                    <message>
                        Replace the Micrometer code with Microprole Metrics code  
                        example `io.micrometer.core.instrument.MeterRegistry` replaced by `org.eclipse.microprofile.metrics.MetricRegistry`
                    </message>
                    <link title="Quarkus metrics" href="https://quarkus.io/guides/microprofile-metrics" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-metrics-to-quarkus-0500">
            <when>
                <javaclass references="io.micrometer.core.annotation.{*}">
                    <location>IMPORT</location>
                </javaclass>
            </when>
            <perform>
                <hint title="Replace the Micrometer metric annotation with Microprofile metric annotation" effort="1" category-id="mandatory">
                    <message>
                        Replace the Micrometer metric annotation with Microprofile metric annotation  
                        example `io.micrometer.core.annotation.Timed` replaced by `org.eclipse.microprofile.metrics.annotation.Timed`
                    </message>
                    <link title="Quarkus metrics" href="https://quarkus.io/guides/microprofile-metrics" />
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
