<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="springboot-cloud-data-flow-to-quarkus"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset gives hints to migrate from SpringBoot Cloud data flow to Quarkus
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="quarkus" />
    </metadata>
    <rules>
        <rule id="springboot-cloud-data-flow-to-quarkus-00000">
            <when>
                <or>
                    <project>
                        <artifact groupId="org.springframework.cloud" artifactId="spring-cloud-dataflow-core" />
                    </project>
                    <dependency groupId="org.springframework.cloud" artifactId="spring-cloud-dataflow-core" />
                </or>
            </when>
            <perform>
                <hint title="Spring Cloud Data Flow is not supported by Quarkus" effort="13" category-id="mandatory">
                <message>
                    Spring Cloud Data Flow is not supported by Quarkus

                    Code relying on the Spring Cloud Data Flow `org.springframework.cloud:spring-cloud-dataflow-core` dependency
                    cannot currently be run in Quarkus
                </message>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>