<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="springboot-web-to-quarkus"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            This ruleset gives hints to migrate from Spring Web to Quarkus spring-web extension
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="quarkus" />
    </metadata>
    <rules>
        <rule id="springboot-web-to-quarkus-00000">
            <when>
                <or>
                    <!-- Spring component declared in source code condition -->
                    <project>
                        <artifact groupId="org.springframework" artifactId="spring-web"/>
                    </project>
                    <!-- Spring Boot component declared in source code condition -->
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="spring-boot-starter-web"/>
                    </project>
                    <!-- Spring component in compiled application condition -->
                    <dependency groupId="org.springframework" artifactId="spring-web"/>
                </or>
            </when>
            <perform>
                <hint title="Replace the Spring Web artifact with Quarkus 'spring-web' extension" effort="1" category-id="mandatory">
                    <message>
                        Replace the Spring Web artifact with Quarkus `spring-web` extension

                        Spring Web is a spring-web artifact brought transitively by any `org.springframework:spring-web*` dependency  
                        Add Quarkus dependency `io.quarkus:quarkus-spring-web`  
                        
                        Starting with Quarkus version 2.5, the underlying JAX-RS engine must be chosen. For performance reasons,
                        the `quarkus-resteasy-reactive-jackson` dependency should be used.
                    </message>
                    <link title="Quarkus Spring Web Guide" href="https://quarkus.io/guides/spring-web" />
                    <link title="Quarkus Migration Guide 2.5" href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.5#spring-web" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-web-to-quarkus-00010">
            <when>
                <or>
                    <and>
                        <project>
                            <artifact groupId="io.quarkus" artifactId="quarkus-spring-web"/>
                        </project>
                        <not>
                            <project>
                                <artifact groupId="io.quarkus" artifactId="quarkus-resteasy-reactive-jackson"/>
                            </project>
                        </not>
                    </and>
                    <and>
                        <dependency groupId="io.quarkus" artifactId="quarkus-spring-web"/>
                        <not>
                            <dependency groupId="io.quarkus" artifactId="quarkus-resteasy-reactive-jackson"/>
                        </not>
                    </and>
                </or>
            </when>
            <perform>
                <hint title="Add the Quarkus 'quarkus-resteasy-reactive-jackson' dependency" effort="1" category-id="mandatory">
                    <message>
                        Add the Quarkus `quarkus-resteasy-reactive-jackson` dependency.

                        Starting with Quarkus version 2.5, the underlying JAX-RS engine must be chosen. For performance reasons,
                        the `quarkus-resteasy-reactive-jackson` dependency should be used."
                    </message>
                    <link title="Quarkus Migration Guide 2.5" href="https://github.com/quarkusio/quarkus/wiki/Migration-Guide-2.5#spring-web" />
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
