<?xml version="1.0"?>
<ruletest id="springboot-metrics-to-quarkus-tests"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/springboot-metrics</testDataPath>
    <!-- By default sourceMode is True, so it will only consider .java files, not .jar binaries -->
    <sourceMode>true</sourceMode>
    <rulePath>../springboot-metrics-to-quarkus.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="springboot-metrics-to-quarkus-0100-test">
                <when>
                    <not>
                        <hint-exists message="Replace the Micrometer dependency with Quarkus Microprofile 'metrics' extension"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-metrics-to-quarkus-0100] Micrometer Dependency artifact replaced by Quarkus artifact was not found!" />
                </perform>
            </rule>
            <rule id="springboot-metrics-to-quarkus-0200-test">
                <when>
                    <not>
                        <hint-exists message="Replace the Micrometer code with Microprofile Metrics code"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-metrics-to-quarkus-0200] Micrometer code replaced by Microprofile Metrics code was not found!" />
                </perform>
            </rule>
            <rule id="springboot-metrics-to-quarkus-0300-test">
                <when>
                    <not>
                        <hint-exists message="Replace `management.endpoints.web.exposure.include=prometheus`"/>
                    </not>
                </when>
                <perform>
                    <fail message="[springboot-metrics-to-quarkus-0300] Replace `management.endpoints.web.exposure.include=prometheus` not found!" />
                </perform>
            </rule>
      </rules>
    </ruleset>
</ruletest>
