<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-jms-broker"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Determine whether application relies on a message broker.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final"/>
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <tag>broker</tag>
        <tag>activemq</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-jms-broker-01000">
            <when>
                <or>
                    <project>
                        <artifact groupId="org.springframework.boot" artifactId="spring-boot-starter-activemq"/>
                    </project>
                    <project>
                        <artifact groupId="org.apache.activemq" artifactId="{*}"/>
                    </project>
                </or>
            </when>
            <perform>
                <hint title="Active MQ Broker" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses an ActiveMQ message broker.
                        
                        Checkout Azure Service Bus for a fully managed message broker.
                        ]]>
                    </message>
                    <link title="Spring Boot application using an Active MQ Broker" href="https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-app-service#jms-message-brokers"/>
                    <link title="Azure Service Bus" href="https://docs.microsoft.com/azure/service-bus-messaging/service-bus-messaging-overview"/>
                    <link title="How to use the Spring Boot Starter for Azure Service Bus JMS" href="https://docs.microsoft.com/azure/developer/java/spring-framework/configure-spring-boot-starter-java-app-with-azure-service-bus"/>
                    <link title="Azure Spring Boot Starter for Azure Service Bus JMS" href="https://search.maven.org/artifact/com.azure.spring/azure-spring-boot-starter-servicebus-jms"/>
                    <tag>activemq</tag>
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>
