<?xml version="1.0"?>
<ruleset id="spring-boot-to-azure-database"
         xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            For any database, identify the connection string.
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot"/>
        <targetTechnology id="azure-appservice"/>
        <targetTechnology id="azure-aks"/>
        <tag>database</tag>
    </metadata>
    <rules>
        <rule id="spring-boot-to-azure-database-jdbc-01000">
            <when>
                <filecontent filename="application{*}.{extensions}" pattern="jdbc:"/>
            </when>
            <perform>
                <hint title="JDBC connection found in configuration file" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses a JDBC connection string.

                        Checkout the different types of databases that are fully managed on Azure.
                        ]]>
                    </message>
                    <link title="JDBC connection string found in configuration file" href="https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-app-service#databases"/>
                    <link title="Types of Databases on Azure" href="https://azure.microsoft.com/product-categories/databases/"/>
                    <tag>jdbc</tag>
                </hint>
            </perform>
            <where param="extensions">
                <matches pattern="(properties|yaml|yml)"/>
            </where>
        </rule>
        <rule id="spring-boot-to-azure-database-mongodb-02000">
            <when>
                <filecontent filename="application{*}.{extensions}" pattern="mongodb:"/>
            </when>
            <perform>
                <hint title="MongoDB connection found in configuration file" category-id="information" effort="0">
                    <message>
                        <![CDATA[
                        The application uses a MongoDB connection string.

                        Checkout the different types of databases that are fully managed on Azure.
                        ]]>
                        </message>
                    <link title="MongoDB connection string found in configuration file" href="https://docs.microsoft.com/azure/developer/java/migration/migrate-spring-boot-to-app-service#databases"/>
                    <link title="Types of Databases on Azure" href="https://azure.microsoft.com/product-categories/databases/"/>
                    <tag>mongodb</tag>
                </hint>
            </perform>
            <where param="extensions">
                <matches pattern="(properties|yaml|yml)"/>
            </where>
        </rule>
    </rules>
</ruleset>
