<?xml version="1.0"?>
<ruleset id="springboot-associated" xmlns="http://windup.jboss.org/schema/jboss-ruleset"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <metadata>
        <description>
            Verify the version of the Spring Boot framework is compatible with those supported by Red Hat Runtimes
        </description>
        <dependencies>
            <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
            <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
        </dependencies>
        <sourceTechnology id="springboot" />
        <targetTechnology id="rhr"/>
    </metadata>
    <rules>
        <rule id="springboot-associated-00001">
            <when>
                <dependency groupId="org.amqphub.spring" artifactId="amqp-10-jms-spring-boot-starter" toVersion="2.0.9" />
            </when>
            <perform>
                <hint title="Unsupported version of AMQP SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of AMQP SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-associated-00002">
            <when>
                <dependency groupId="org.apache.cxf" artifactId="cxf-spring-boot-starter-jaxrs" />
            </when>
            <perform>
                <hint title="Unsupported version of CXF JAXRS SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of CXF JAXRS SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-associated-00003">
            <when>
                <dependency groupId="org.jboss.resteasy" artifactId="resteasy-spring-boot-starter" toVersion="2.9.9" />
            </when>
            <perform>
                <hint title="Unsupported version of Resteasy SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of Resteasy SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-associated-00004">
            <when>
                <dependency groupId="org.infinispan" artifactId="{infinispanArtifactName}" toVersion="2.1.2" />
            </when>
            <perform>
                <hint title="Unsupported version of Infinispan SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of Infinispan SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
            <where param="infinispanArtifactName">
                <matches pattern="(infinispan-spring-boot-starter-embedded|infinispan-spring-boot-starter-remote)"/>
            </where>
        </rule>
        <rule id="springboot-associated-00005">
            <when>
                <dependency groupId="org.keycloak" artifactId="keycloak-spring-boot-starter" toVersion="4.8.2" />
            </when>
            <perform>
                <hint title="Unsupported version of Keycloak SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of Keycloak SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
        </rule>
        <rule id="springboot-associated-00006">
            <when>
                <dependency groupId="me.snowdrop" artifactId="narayana-spring-boot-starter" toVersion="2.0.9" />
            </when>
            <perform>
                <hint title="Unsupported version of Narayana SpringBoot starter" effort="1" category-id="potential">
                    <message>Unsupported version of Narayana SpringBoot starter</message>
                    <link href="https://access.redhat.com/articles/3349341" title="RHOAR Spring Boot Supported Configurations" />
                    <link href="https://access.redhat.com/articles/3348731" title="RHOAR Component Details Overview" />
                </hint>
            </perform>
        </rule>
    </rules>
</ruleset>