<?xml version="1.0" encoding="UTF-8"?>
<ruletest xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xmlns="http://windup.jboss.org/schema/jboss-ruleset"
          xmlns:windupfunctions="windupcustomfunctions"
          xmlns:windup="http://windup.jboss.org/schema/jboss-ruleset"
          id="spring-remote-services-technology-usage-test"
          xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">

    <testDataPath>data/spring-remote-services/</testDataPath>
    <rulePath>../spring-remote-services-technology-usage.rhamt.xml</rulePath>
   <ruleset>
      <rules>
         <rule id="technology-usage-spring-remote-services-01000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring RMI" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-01000"/>
            </perform>
         </rule>
	 <rule id="technology-usage-spring-remote-services-02000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring Hessian" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-02000"/>
            </perform>
         </rule>
	 <rule id="technology-usage-spring-remote-services-03000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring JAX-WS" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-03000"/>
            </perform>
         </rule>
         <rule id="technology-usage-spring-remote-services-04000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring REST" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="REST"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-04000"/>
            </perform>
         </rule>
         <rule id="technology-usage-spring-remote-services-05000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring JMS" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-05000"/>
            </perform>
         </rule>
	  <rule id="technology-usage-spring-remote-services-06000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring AMQP" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-06000"/>
            </perform>
         </rule>
          <rule id="technology-usage-spring-remote-services-07000-test">
            <when>
               <not>
                  <technology-statistics-exists name="Spring Http Invoker" number-found="1">
                     <tag name="Connect"/>
                     <tag name="Embedded"/>
                     <tag name="Other"/>
                  </technology-statistics-exists>
               </not>
            </when>
            <perform>
               <fail message="Expected data not found for rule technology-usage-spring-remote-services-07000"/>
            </perform>
         </rule>
     </rules>
   </ruleset>
</ruletest>
