<?xml version="1.0"?>
<ruletest id="spring-boot-to-azure-jks-test" xmlns="http://windup.jboss.org/schema/jboss-ruleset" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/spring-boot-to-azure-jks</testDataPath>
    <rulePath>../spring-boot-to-azure-jks.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="spring-boot-to-azure-jks-test-01000">
                <when>
                    <not>
                        <iterable-filter size="1">
                            <hint-exists message="JKS(Java KeyStore) file is found. Make sure to externalize jks store" />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="jks file hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>