<?xml version="1.0" encoding="UTF-8"?>
<ruletest id="spring-boot-to-azure-restricted-config-test"
      xmlns="http://windup.jboss.org/schema/jboss-ruleset"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
  <testDataPath>data/spring-boot-to-azure-restricted-config</testDataPath>
  <rulePath>../spring-boot-to-azure-restricted-config.windup.xml</rulePath>
  <target>azure-spring-apps</target>
  <ruleset>
    <rules>
      <rule id="spring-boot-to-azure-restricted-config-test-01000">
        <when>
          <not>
            <iterable-filter size="10">
              <hint-exists message="The application uses restricted configurations for Azure Spring Apps."/>
            </iterable-filter>
          </not>
        </when>
        <perform>
          <fail message="spring-boot-to-azure-restricted-config hint was not found!"/>
        </perform>
      </rule>
    </rules>
  </ruleset>
</ruletest>

