<?xml version="1.0"?>
<ruletest id="spring-boot-to-azure-version-test" xmlns="http://windup.jboss.org/schema/jboss-ruleset" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
    <testDataPath>data/spring-boot-to-azure-version</testDataPath>
    <rulePath>../spring-boot-to-azure-version.windup.xml</rulePath>
    <ruleset>
        <rules>
            <rule id="spring-boot-to-azure-version-test-01000">
                <when>
                    <not>
                        <iterable-filter size="1">
                            <hint-exists message="The application uses Spring Boot 1.x, which is too low." />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="Spring Boot version hint was not found!" />
                </perform>
            </rule>
            <rule id="spring-boot-to-azure-version-test-02000">
                <when>
                    <not>
                        <iterable-filter size="2">
                            <hint-exists message="Spring boot version is out of any spring boot support scope." />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="Spring Boot version out of support hint was not found!" />
                </perform>
            </rule>
            <rule id="spring-boot-to-azure-version-test-03000">
                <when>
                    <not>
                        <iterable-filter size="3">
                            <hint-exists message="Spring Boot version is out of open source software support." />
                        </iterable-filter>
                    </not>
                </when>
                <perform>
                    <fail message="Spring Boot version out of OSS support hint was not found!" />
                </perform>
            </rule>
        </rules>
    </ruleset>
</ruletest>
