<?xml version="1.0"?>
<ruleset xmlns="http://windup.jboss.org/schema/jboss-ruleset" id="spring-remote-services" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://windup.jboss.org/schema/jboss-ruleset http://windup.jboss.org/schema/jboss-ruleset/windup-jboss-ruleset.xsd">
	<metadata>
           <description>
              Identify classes that reference org.springframework.remoting.rmi   
           </description>
	   <dependencies>
              <addon id="org.jboss.windup.rules,windup-rules-javaee,3.0.0.Final" />
              <addon id="org.jboss.windup.rules,windup-rules-java,3.0.0.Final" />
              <addon id="org.jboss.windup.rules,windup-rules-xml,3.0.0.Final" />
           </dependencies>
	</metadata>
	<rules>
	   <rule id="spring-remote-services-01000">
	      <when>
		 <javaclass references="org.springframework.remoting.rmi{*}" > 
	            <location>IMPORT</location>
		 </javaclass>
              </when>
              <perform>
		<classification title="Spring rmi package referenced" category-id="information" effort="0">
                    <description>A class has been identified that references the org.springframework.remoting.rmi package</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-rmi</technology-tag>
              </perform>	
          </rule>
	  <rule id="spring-remote-services-02000">
	      <when>
		 <javaclass references="org.springframework.remoting.caucho.HessianServiceExporter{*}" > 
	            <location>IMPORT</location>
		 </javaclass>
              </when>
              <perform>
		<classification title="Spring Hessian Service Exporter package referenced" category-id="information" effort="0">
                    <description>A class has been identified that references the org.springframework.remoting.caucho.HessianServiceExporter package</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-hessian</technology-tag>
              </perform>	
          </rule>
	  <rule id="spring-remote-services-03000">
	      <when>
		<and>		 
		   <javaclass references="org.springframework.web.context.support.SpringBeanAutowiringSupport" > 
	    	      <location>IMPORT</location>
		   </javaclass>
		   <javaclass references="javax.jws{*}" > 
	              <location>ANNOTATION</location>
		   </javaclass>
		</and>
              </when>
              <perform>
		<classification title="Spring JAX-WS detected" category-id="information" effort="0">
                    <description>A class has been identified that uses Spring Web Services</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-jax-ws</technology-tag>
              </perform>	
          </rule>
	  <rule id="spring-remote-services-04000">
	      <when>
		 <javaclass references="org.springframework.web.bind.annotation.RestController" > 
	            <location>IMPORT</location>
		 </javaclass>
              </when>
              <perform>
		<classification title="Spring Rest Controller package referenced" category-id="information" effort="0">
                    <description>A class has been identified that references the org.springframework.web.bind.annotation.RestController package</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-rest</technology-tag>
              </perform>	
          </rule>
	  <rule id="spring-remote-services-05000">
	      <when>
		 <javaclass references="org.springframework.jms{*}" > 
	            <location>IMPORT</location>
		 </javaclass>
              </when>
              <perform>
		<classification title="Spring JMS package referenced" category-id="information" effort="0">
                    <description>A class has been identified that uses Spring JMS</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-jms</technology-tag>
              </perform>	
          </rule>
	  <rule id="spring-remote-services-06000">
	      <when>
		 <javaclass references="org.springframework.amqp{*}" > 
	            <location>IMPORT</location>
		 </javaclass>
              </when>
              <perform>
		<classification title="Spring AMQP package referenced" category-id="information" effort="0">
                    <description>A class has been identified that uses Spring AMQP</description>
                </classification>
		<technology-tag level="INFORMATIONAL">spring-amqp</technology-tag>
              </perform>	
          </rule>	
	</rules>
</ruleset>
